<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-dark bg-dark"
     xmlns:sec="http://www.w3.org/1999/xhtml">
  <div class="container">
    <a class="navbar-brand" th:href="@{/post/list}">에브리데이</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" id="login-link" sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="logout-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="join-link" th:href="@{/join}">회원가입</a>
        </li>
        </ul>



    </div>
  </div>
</nav>

<script>
  document.getElementById('login-link').addEventListener('click', function() {
    this.classList.replace('nav-link', 'nav-link active');
  });

  document.getElementById('logout-link').addEventListener('click', function() {
    this.classList.replace('nav-link', 'nav-link active');
  });

  document.getElementById('join-link').addEventListener('click', function() {
    this.classList.replace('nav-link', 'nav-link active');
  });
</script>